.select {
    width: 100px;
    position: relative;
}

.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    border: 1px solid black;
    padding: 5px;
    background-color: #e0fbfc;
    color: #293241;
}

.item.selected {
    background-color: #1ea7fd;
}
