.App {
  text-align: center;
  width: 90%;
  border: 2px solid slategrey;
  margin: 20px auto;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul, ol {
  width: 25%;
  margin: auto auto;
  padding: 0;
  padding-bottom: 20px;
}

li {
  margin: 5px 0;
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

.page-header {
  display: flex;
  justify-content: space-around;
  list-style: inside;
}

.important {
  color: red;
  text-transform: uppercase;
}

.break_line {
  padding: 0;
  margin: auto;
  width: 60%;
  height: 10px;
  background-color: #282c34;
}