.App {
    text-align: center;
    width: 70%;
    border: 5px solid #14471E;
    border-radius: 50px;
    margin: 50px auto;
    padding: 20px;
    background-color: #68904D;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

ul, ol {
    width: 40%;
    margin: auto auto;
    padding: 0 0 20px;
}

li {
    margin: 5px 0;
    text-align: left;
    padding: 10px;
    border: 2px solid #14471E;
    border-radius: 10px;
    background-color: #EE9B01;
}

.page-header {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.break_line {
    padding: 0;
    margin: 20px auto;
    width: 90%;
    height: 10px;
    background-color: #14471E;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 5px;
    max-width: 33%;
}

.test {
    border: 2px solid black;
    margin: 50px 50px;
}

.BorderedComponent {
    border:3px solid black;
    margin: 10px;
}

input {
    display: inline-block;
    width: 70px;
}